<div   style="background-color: #103453;" id="sidebar" role="navigation">

    <div class="sidebar-content ">
        <div class="sidebar-brand m-3"  >
          <a href="#"></a>
          <div id="close-sidebar mt-5" style="color: white;">
              <i class="fa fa-user-circle " style="size:50px ; font-size:22px"> PROFILE </i>
          </div>
        </div>
        <div class="sidebar-header ml-3 p-3">

          <div class="user-info mt-4">
              <span class="user-name">
                  <strong>{{user?.fName}}</strong>
              </span>
              <div class="row mt-1">
              <span class="user-role" style=
              "font-weight: bold;"></span>
            </div>
              <span class="user-status" style="font-size: 10px;
              margin-right: 4px;
              color: #5cb85c;">
                  <i class="fa fa-circle"></i>
              </span>
              <span>Online</span>
          </div>
      </div>
      <!-- sidebar-header  -->

      <!-- sidebar-search  -->
      <div class="sidebar-menu ml-2 mt-4 p-3">


                  <span style=
                  "font-weight: bold;">DASHBOARD</span>

             <!--- <li class="sidebar-dropdown">
                  <a href="#">
                      <i class="fa fa-tachometer-alt"></i>
                      <span>Dashboard</span>

                  </a>-->
                  <ul>
                    <div class="row mt-4 p-1">
                  <li><button class="btn btn-danger" (click)="home()"><i class="fa fa-home "></i><span> Home</span>
                  </button></li>
                </div>
                <div class="row mt-4 p-1">
                    <li><button class="btn btn-warning" (click)="vProfile()"><i class="fa fa-user "></i><span> View Profile</span>
                    </button></li>
              </div>
              <div class="row mt-4  p-1">
                <li><button class="btn btn-success" (click)="attendance()"><i class="fa fa-square-o "></i><span> Attendance</span>
                </button></li>
              </div>

            <!---  <li class="sidebar-dropdown">
                  <a href="#"><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Attendance</span></a>
                  <div class="sidebar-submenu">
                      <ul>
                          <li><a href="#">LINK 1</a></li>
                          <li><a href="#">LINK 2</a></li>
                          <li><a href="#">LINK 3</a></li>
                          <li><a href="#">LINK 4</a></li>
                      </ul>
                  </div>
              </li>-->
              <div class="row mt-4  p-1" *ngIf="canSeeResult() ">
                <li><button class="btn btn-primary" (click)="result()"><i class="fa fa-note-o "></i><span> Result </span>
                </button></li>
              </div>
              <div class="row mt-4  p-1" *ngIf="canAddNotices()">
                <li><button class="btn btn-primary" (click)="notices()"><i class="fa fa-note-envelope "></i><span> Notice</span>
                </button></li>
              </div>
              <div class="row mt-4  p-1" *ngIf="getAllNotic()" (click)="allNOtice()">
                <li><button class="btn btn-primary" (click)="Allnotices()"><i class="fa fa-note-envelope "></i><span>All Notices</span>
                </button></li>
              </div>
             
          </ul>
      </div>
      <!-- sidebar-menu  -->
  </div>







</div>