<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
  <!-- Google Fonts -->
  <script src="https://kit.fontawesome.com/f059dbf7f4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
  ">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
</head>
  <body>
    <div class="sticky-top">
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix ">
      <div class="contact-info float-left">
        <i class="fa fa-envelope"></i><a href="mailto:contact@example.com">schoolediaryproject@gmail.com
        </a>
        <i class="fa fa-phone"></i> +91 8989234653

      </div>
    
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#" class="skype"><i class='fa fa-skype fa-lg' aria-hidden="true"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>
 <!-- ======= Header ======= -->
 <header id="header">
    <div class="container ">

      <div class="logo float-left">
        <h1 class="text-light"><a href="index.html"><span>School Diary</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li class="Sign up"><a  routerLink="/register" routerLinkActive="active">Sign  Up</a></li>
          <li class="Login"><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
</div>
 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- MAin division -->
          <div class="carousel-item active" style="background-image: url('assets/img1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>School Diary</span></h2>
                <p class="animate__animated animate__fadeInUp">  School eDiary is an advanced application for school to make better communication between student/parent and teacher.Relevant features like Notice Board, Class Diary, Profile, Attendance,Academic Details,etc has been packed in the application in an easy to use interface.
                </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

        

        </div>

    

      </div>
    </div>
  </section><!-- End Hero -->


<!-------------------------------------------------------------------------------------->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="assets/img2.jpg" class="img-fluid" alt="">
            <a href="" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>About Us</h2>
              <p>
                School eDiary is a light application with clean UI designed to replace the paper-based school diary.
We are trying to simplify the commnication process between school and students or parents in a paperless way.
In today's world almost every parent has a Smartphone, where they find and fill theirbasic need.
So we are trying to add their childs's academic need and performance in a single application.
              </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">24/7 availability</a></h4>
              <p class="description">
                The well-functioning of the e-diary is in the hands of a team of professionals, who are in charge not only of proper performance of the software, but also of the security of the information stored therein.
              </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Information security</a></h4>
              <p class="description">
                E-diary is available to students, parents and teachers all day, every day. A click on the link on the homepage opens the portal which you access with your username and password, assigned to you by the school.
              </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Lists Section ======= -->
    <section class="about-lists">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-6 col-md-6 content-item" data-aos="fade-up">
            <span style="color: #16c7ff; font-weight: 600;">01</span>
            <h4>Administration</h4>
            <p>Admin has all the records of student, parent & faculty.
              Communicate with parents regulatory bodies and the public.
            </p>
          </div>

          <div class="col-lg-6 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <span style="color: #16c7ff; font-weight: 600;">02</span>
            <h4>Faculty</h4>
            <p>
              Faculty here can mark attendance, add notice class wise, update result of students. This helps faculty to keep a track of the students in his/her respective class.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">

            <span style="color: #16c7ff; font-weight: 600;">03</span>
            <h4> Parents</h4>
            <p>
              Parents are able to view attendance and result of his/her child.
              This helps them to keep a track of their child's progress.
            </p>
          </div>

          <div class="col-lg-6 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span style="color: #16c7ff; font-weight: 600;">04</span>
            <h4>Students</h4>
            <p>
              Students here can view their profile, attendance, class notice, result.
            </p>
          </div>


        </div>

      </div>

     
    </section><!-- End About Lists Section -->

   
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
         <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-list-alt
              " style="color:#16c7ff;"></i>

            </div>
            <h4 class="title"><a href="">Notice Board</a></h4>
            <p class="description">
              Instance alerts on any circular/notice from school.Students can view all the global and class notices.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon">
              <i class="fa fa-user" style="color: #16c7ff
              ;"></i>

            </div>
            <h4 class="title"><a href="">Profile</a></h4>
            <p class="description">Displays complete profile of the student, parent details, class teacher details, addresss and emergency contact number.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon">

              <i class="fa fa-check-square-o
              "></i>

            </div>
            <h4 class="title"><a href="">Attendance</a></h4>
            <p class="description">Detailed view of the student attendance in the current academic year including presents, absents and leaves.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <i class="fa fa-graduation-cap
              "></i>
             <!----<i class="fa fa-poll-h" style="color: #16c7ff;"></i>-->

            </div>
            <h4 class="title"><a href="">Result</a></h4>
            <p class="description">Parents can see the term-wise and subject-wise marks statement of their ward thereby keeping a track of their academic performance.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fa fa-comments" style="color:#16c7ff;"></i></div>
            <h4 class="title"><a href="">Feedback</a></h4>
            <p class="description">
              Parents/Teachers can share their valuable feedback about school infrastructure or curriculum to the admin.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="fa fa-phone" style="color:#16c7ff;
              "></i>
            </div>
            <h4 class="title"><a href="">Contact Us</a></h4>
            <p class="description">
              Remain updated about the contact details, website,social media accounts and visiting hours of the schools from the app.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
          <h2>School-E-Diary Gallery </h2>
      
        </div>

        <div class="row ">

          <div class="col-lg-4 col-md-6 ">
            <div class="portfolio-wrap">
              <img src="assets/img3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/3.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/5.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img3.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img3.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img3.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img3.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container ">
      

        <div class="section-title">
          <h2>Our Team</h2>
        
        </div>

        <div class="row d-flex m-5 justify-content-center align-items-center">

          <div class="col-xl-3 col-lg-4 col-md-6" >
            <div class="member">
              <div class="member-info">
                <h4>Aditya Soni</h4>
                <span>Full Stack Developer</span>
                <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#" class="skype"><i class='fa fa-skype ' aria-hidden="true"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" >
            <div class="member">

              <div class="member-info">
                <h4>Anuja Shirsath</h4>
                <span>Full Stack Developer</span>
                <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#" class="skype"><i class='fa fa-skype ' aria-hidden="true"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <div class="member-info">
                <h4>Aditi Gudadhe</h4>
                <span>Full Stack Developer</span>
                <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#" class="skype"><i class='fa fa-skype ' aria-hidden="true"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row d-flex m-5 justify-content-center align-items-center">
          <div class="col-xl-3 col-lg-4 col-md-6 mt-3" data-aos="fade-up">
            <div class="member">

              <div class="member-info">
                <h4>Mrunali Besarkar</h4>
                <span>Full Stack Developer</span>
                <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#" class="skype"><i class='fa fa-skype ' aria-hidden="true"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mt-3" data-aos="fade-up">
            <div class="member">

              <div class="member-info">
                <h4>Shubham Lothe</h4>
                <span>Full Stack Developer</span>
                <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#" class="skype"><i class='fa fa-skype ' aria-hidden="true"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      
      
        
    </section><!-- End Our Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        

       

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="info-box">
         <i class="fa fa-home" aria-hidden="true"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="fa fa-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@example.com<br> schoolediaryproject@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <h3>Call Us</h3>
              <p>+91 8989234653<br>+91 7837460012
              </p>
            </div>
          </div>

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-lg-6 form-group">
                  <input type="text" [(ngModel)]="cm.name" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-lg-6 form-group">
                  <input type="email" class="form-control" [(ngModel)]="cm.contactPersonEmail" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control"[(ngModel)]="cm.subject" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" [(ngModel)]="cm.message" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" (click)=" submit()">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

 
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>School Diary</h3>
            <p>
              A100 ABC Street <br>
              Mumbai 535022, India<br><br>
              <strong>Phone:</strong>+91 8989234653<br>
              <strong>Email:</strong> schoolediaryproject@gmail.com
              <br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#" class="skype"><i class='fa fa-skype ' aria-hidden="true"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li> <a href="#">Notice Board</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Attendance</a></li>
              <li> <a href="#">Result</a></li>
              <li> <a href="#">Feedback</a></li>
              <li> <a href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>School will re-open soon in mid-february.</p>
                         <p>Communicate with us any time.
                         We will be there 24/7</p>

            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>School Diary</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>




