                <div *ngIf="isDisplay">
    <h3 style="color: #103453;"><b>Student's Attendance</b></h3>
                    <div   class="col-2 ">
                        <h4 style="color: #103453;"><b>Date :</b></h4>
                        <input [(ngModel)]="attDate" type="date"  class="form-control" >
                    </div>

                </div>
                <div *ngIf=isDisplay>
                   <div class="col">
                    <table class="table">
                        <thead style="background-color: #103453;color: white;">
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of att" [ngClass]="{'present':item.status === 'green' ,'leave':item.status  === 'orange' ,'absent':item.status  === 'red' }" (click)="applyAtt(item)">
                            <td scope="row">{{item.fName}}</td>
                            <td>{{item.lName}}</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>

                </div>
                <div *ngIf=isDisplay   class="row m-3  ">
                    <div class="col d-flex justify-content-end align-items-end">
                <button (click)="submitResult()" type="submit"   style="background-color: #103453;color: white; margin: 2px;" class="btn">Submit Attendance</button>
                </div>
            </div>

            <div *ngIf=isOther class="">
                    <h3 style="color: #103453"><b>Student's Attendance</b></h3>
            </div>

            <div class ="row m-3     d-flex justify-content-end align-items-end" >

                <div *ngIf="isP"  class="col">
                    <label style="color: white;">Attendance</label>
                    <select class="form-control" id="#" [(ngModel)]="stu.user_id_student" (change)="getSAttendence()">
                        
                        <option *ngFor="let child of students " [value]="child.user_id_student">{{child.fName}}</option>
                    </select>
                </div>

            </div>


            <div *ngIf="isOther" >
                 
               <div class="col">
                <div class="attendance-legend">
                    <span class="green">Present</span>
                    <span class="red">Absent</span>
                    <span class="blue">Leave</span>
                </div> 
                <table class="table">
                    <thead style="background-color: #103453;color: white;">
                      <tr>
                
                        <th scope="col" class="d-flex justify-content-center align-items-center">Date</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of att" [ngClass]="{'present':item.attendance_colour === 'green' ,'leave':item.attendance_colour === 'orange' ,'absent':item.attendance_colour === 'red' }">
                      
                        <td style="font-size: larger; font-style: italic; font-weight: bold" class="d-flex justify-content-center align-items-center">{{item.att_date}}</td>
                      </tr>
                    </tbody>
                  </table>
               </div>
             
            
            </div>