th {
  border: none !important;
  width: 100% !important;
}

.present {
  background-color: rgb(154, 208, 75)
}

.leave {
  background-color: orange;
}

.absent {
  background-color: rgb(237, 66, 66);
}


.box {
  width: 57px;
  height: 57px;
  margin-right: 10px;
}

.attendance-legend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 0px;
}

.attendance-legend span {
  border-radius: 50px;
  padding: 5px;
  margin-left: 10px;
  min-width: 100px;
  text-align: center;
}

.red {
  background: rgb(237, 66, 66);
}

.green {
  background: rgb(154, 208, 75)
}

.blue {
  background: orange;
}
