            <div>
               <!-------------------Main Content Row 1------------------------>
                <div class="row m-2 d-flex justify-content-center align-items-center">
                       
    <div class="col-xl-3 col-sm-6 py-2 " *ngIf=isAdmin>
        <div class="card text-white bg-info h-100">
            <div class="card-body d-flex justify-content-center align-items-center">
                <div class="rotate">
                   <i class="fa fa-user-plus fa-4x" aria-hidden="true"></i>
                </div>
               
              <button (click)="approveUser()" class="btn btn-info"><h6 class="text-uppercase  text-white">Approve User</h6></button>
            
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2" *ngIf=isFaculty>
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-success d-flex justify-content-center align-items-center">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <button (click)="addResult()" class="btn btn-success"><h6 class="text-uppercase  text-white"> Add Result</h6></button>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2" *ngIf=isStudent>
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-success d-flex justify-content-center align-items-center">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <button (click)="disResult()"  class="btn btn-success"><h6 class="text-uppercase  text-white">View Result</h6></button>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2" *ngIf=isFaculty>
        <div class="card text-white bg-danger h-100">
            <div class="card-body bg-danger  d-flex justify-content-center align-items-center">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <button (click)="attendance()" class="btn btn-danger"><h6 class="text-uppercase  text-white">Update Attendance</h6></button>
            </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2" *ngIf=isStudent>
            <div class="card text-white bg-danger h-100">
                <div class="card-body bg-danger  d-flex justify-content-center align-items-center">
                    <div class="rotate">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <button (click)="getAttendance()" class="btn btn-danger"><h6 class="text-uppercase  text-white">View Attendance</h6></button>
                </div>
                </div>
            </div>
            
    
    <!-- <div class="col-xl-3 col-sm-6 py-2" *ngIf=isDisplay>
        <div class="card text-white bg-warning h-100">
             <div class="card-body d-flex justify-content-center align-items-center">
                <div class="rotate">
                   <i class="fa fa-sticky-note-o fa-4x" aria-hidden="true"></i>
                </div>
            
                <button (click)="addNotice()" class="btn btn-warning"><h6 class="text-uppercase  text-white">Update Notice</h6></button>
            </div> 
        </div>
    </div> -->
    <div class="col-xl-3 col-sm-6 py-2" *ngIf=isFaculty>
        <div class="card text-white bg-warning h-100">
            <div class="card-body d-flex justify-content-center align-items-center">
                <div class="rotate">
                   <i class="fa fa-sticky-note-o fa-4x" aria-hidden="true"></i>
                </div>
            
                <button (click)="addNotice()" class="btn btn-warning"><h6 class="text-uppercase  text-white">Add Notice</h6></button>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 py-2" *ngIf=isAdmin>
        <div class="card text-white bg-warning h-100">
            <div class="card-body d-flex justify-content-center align-items-center">
                <div class="rotate">
                   <i class="fa fa-sticky-note-o fa-4x" aria-hidden="true"></i>
                </div>
            
                <button (click)="addNotice()" class="btn btn-warning"><h6 class="text-uppercase  text-white">Add Notice</h6></button>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2 " >
        <div class="card text-white bg-info h-100">
            <div class="card-body d-flex justify-content-center align-items-center">
                <div class="rotate">
                    <i class="fa fa-user-circle-o fa-4x"></i>
                </div>
               
              <button (click)="profile()" class="btn btn-info"><h6 class="text-uppercase  text-white">View Profile</h6></button>
            
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2" *ngIf=isStudent>
                <div class="card text-white bg-danger h-100">
                    <div class="card-body bg-danger  d-flex justify-content-center align-items-center">
                        <div class="rotate">
                            <i class="fa fa-envelope-open-o fa-4x" aria-hidden="true"></i>
                        </div>
                        <button class="btn btn-danger"  (click)="raiseRequest()" ><h6 class="text-uppercase  text-white">Raise a Request</h6></button>
                    </div>
                    </div>
                </div>
                </div>
                <!-------------------Main content Row 2-------------------->
                <div class="row d-flex justify-content-center align-items-center">

                    <div class="col">
                        <div class="card text-white bg-warning m-3" >
                            <div class="card-header">
                                <h3>Notice Board</h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Class Level</h5>
                                <table>
                                    <tr *ngFor="let item of clsNotice">
                                    <td>{{item.notice_id}}</td>
                                    <td>||</td>
                                    <td>{{item.date_from}}</td>
                                    <td>||</td>
                                    <td>{{item.msg}}</td>
                                    <td>||</td>
                                    <td>{{item.date_to}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>
                    <div class="col">
                        <div class="card text-white bg-warning m-3">
                            <div class="card-header">
                                <h3>Global Notice Board</h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Global</h5>
                                <table>
                                    <tr *ngFor="let it of globalNotice">
                                    <td>{{it.notice_id}}</td>
                                    <td>||</td>
                                    <td>{{it.date_from}}</td>
                                    <td>||</td>
                                    <td>{{it.msg}}</td>
                                    <td>||</td>
                                    <td>{{it.date_to}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>
                    </div>

                </div>


